extends layout

block content
    h1 Trevor Dillon Art
    #emailButton(onclick='toggleAppointment(); this.onclick = null;')
      #slidingUnderline
        h2(style='margin: 0px') Make an appointment
      br
      br
      form(method="post" action="/sendEmail")
        input(type='text', name='name', placeholder='Your Name', required='')
        input(type='text', name='email', placeholder='Your Email', required='')
        br
        textarea(height='200px', name="body", placeholder='Hey Trevor!', required='')
        br
        button(type='submit') Send

